In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sqlite3

/home/alexander/anaconda3/lib/python3.6/site-packages/matplotlib/font_manager.py:279: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  'Matplotlib is building the font cache using fc-list. '

In [2]:
conn = sqlite3.connect("/home/alexander/MiningSteam/data/data_05-11-17__5000.db")

In [3]:
players = pd.read_sql_query("SELECT * FROM players;", conn)
players.head()

,Id,SteamName,LastLogOff,RealName,PrimaryClanId,TimeCreated,Country,State,City,PrivacyState,Banned,DaysSinceLastBan
0,76561198287283275,saskia noverina,1.500729e+09,None,103582791429521408,1456823345,ID,10,20856,3,0,0
1,76561198168391206,djamel09,1.418836e+09,None,103582791429521408,1418835832,None,None,None,3,0,0
2,76561198192216715,1369320228,1.432449e+09,None,103582791429521408,1429324601,None,None,None,3,0,0
3,76561198103382872,Nk73000,1.509865e+09,None,103582791429521408,1376789575,None,None,None,3,0,0
4,76561198297596597,tim.thelen.official,1.466093e+09,None,103582791429521408,1460479063,None,None,None,3,0,0